extends layout

block content
  #alert-correct.alert.alert-popup.alert-success.none(data-dismiss='alert')
    button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
    p Nice guess! 
      span.answer
      |  is the answer. +1 point!
    | Try another...
  #alert-incorrect.alert.alert-popup.alert-danger.none(data-dismiss='alert')
    button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
    p Sorry, correct answer is  
      span.answer
      |  calories.
    | Try another...

  nav.nav-collapse
    ul
      li
        a(href='/') Home
      li
        a(href='/results') Results
      li
        a(href='#') Account
  .nav-bar
  .header.clearfix
    a#toggle.nav-toggle(href='#')
      span.toggle-bar
      span.toggle-bar
      span.toggle-bar
    h1.title Guess Calories
  .container
    .row
      .col-xs-12.col-md-offset-3.col-md-6
        .item-photo.align-center
          img.img-responsive(src=product.image_url, alt=product.item_name, title=product.item_name)
        h3.item-name
          | #{product.item_name}
        h5.brand-name
          | #{product.brand_name}
        p.question
          span Q:
          | How many calories in
          b  #{product.nf_serving_size_qty} #{product.nf_serving_size_unit}
          | ?
          p
            form#form-q.form-horizontal(role='form')
              .form-group
                .col-xs-5.col-sm-3.col-md-3
                  input#ans.form-control.input-lg(type='tel', placeholder='')
                  input#upc.form-control.input-lg(type='hidden', value=product.upc)
                button#btn-go.btn.btn-lg.btn-primary(type='submit') Go
            .current-score
              a.view-results-link(href='/results') [ View results ]
              | Correctly Guessed:
              h4.overall-score #{answers.correct} of #{answers.all}
