extends layout

block content
  nav.nav-collapse
    ul
      li
        a(href='/') Home
      li
        a(href='/results') Results
      li
        a(href='#') Account
  .nav-bar
  .header.clearfix
    a#toggle.nav-toggle(href='#')
      span.toggle-bar
      span.toggle-bar
      span.toggle-bar
    h1.title Results
  .container
    .row
      .col-xs-offset-0.col-xs-12.col-md-offset-3.col-md-6
        .results-header
          .your-guess Your Guess
          | Correctly Guessed:
          h3.overall-score #{stats.correct} of #{stats.all}
    each result in results
      .row
        .wrap-item.clearfix(class=result.is_correct ? '' : 'odd')
          .col-xs-offset-0.col-xs-12.col-md-offset-3.col-md-6
            .media.media-results
              a.pull-left(href='#')
                img.media-object(src=result.item_image_http)
              .guess-score(class=result.is_correct ? 'success' : 'danger')
                | +#{result.percent}%
              .media-body
                h4.media-heading=result.item_name
                h6=result.item_brand
                p
                  | #{result.item_serving_qty} #{result.item_serving_unit} = #{result.item_calories} Calories
